.container{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons img{
    height: 30px;
    width: 30px;
    padding: 5px;
}
h1{
    font-family: Helvetica;
    font-size: large;
    font-weight: 100;
}
@media(max-width:768px){
    h1{
        font-size: medium;
        font-weight: 70;
        
    }
    .container{
        flex-direction: column;
    }
}